/* ============================================================================ */
/* === Game screen
/* ============================================================================ */
#game .container.filled {
    position: relative;
    width: 750px;
}
#messages {
    margin: 20px 0 10px 0;
    height: 30px;
    line-height: 28px;
    background-color: #d6debd;
    border-radius: 15px;
    border: solid 2px;
    border-color: #737667 white white #737667;
    font-size: 20px;
    padding: 0 10px;
    color: #737667;
    position: relative;
}

#controls {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 513px;
    font-size: 12px;
    padding: 15px;
}
#action {
    outline: none;
    float: left;

    margin: 0;
    padding: 0;

    display: inline-block;
    height: 100px;
    width: 100px;
    /*line-height: 100px;*/
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    border-radius: 50%;
    border: 4px solid #666666;

    color: #666666;
    text-shadow: 1px 1px 2px #333333;

    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

#action:hover, #action:focus {
    border-color: #21688e;
    color: #21688e;
}

#action:active {
    border-color: #90c6e2;
    color: #90c6e2;
    margin: 1px -1px -1px 1px;
}

#scores {
    margin-top: 110px;
    width: 100%;
}
#scores th {
    display: none;
}
#scores tr {
    transition-property: background-color;
    transition-duration: .3s;
}
#scores tr.waiting {
    background-color: rgba(220, 20, 60, 0.2);
}
#scores tr.selecting {
    background-color: rgba(255, 215, 0, 0.2);
}
#scores tr.selecting td.status {
    background: url("icons/hand.png") no-repeat center center;
}
#scores .status {
    padding: 0;
    width: 30px;
    min-width: 30px;
    text-align: center;
}
#scores .player {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 143px;
    max-width: 143px;
    min-width: 143px;
}
#scores .score {
    padding: 0;
    width: 30px;
    min-width: 30px;
    text-align: center;
}
.score.highlight {
    animation-name: score-highlight;
    animation-duration: 1.5s;
}
@keyframes score-highlight {
    0% {
        font-weight: bold;
        color: black;
    }
    100% {
        font-weight: bold;
        color: black;
    }
}

#scores .rank {
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 12px;
}
#deck {
    background: url("cards/deck.png") no-repeat;
    width: 60px;
    height: 84px;
    font-size: 30px;
    line-height: 84px;
    text-align: center;
    color: #666666;
    float: right;
    margin: 8px 15px 0 0;
    text-shadow: 1px 1px 2px #333333;
}

#timer {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 10px;
    color: crimson;
    font-weight: bold;
}

#board {
    position: relative;
    display: inline-block;
    width: 498px;
    height: 406px;
    background: url("cards/board-bg.gif") 4px 3px;
    line-height: 0;
    font-size: 0;
    margin-bottom: 15px;
}

.miniboard {
    position: relative;
    width: 308px;
    height: 144px;
    background-color: #d6debd;
    border-radius: 15px;
    border: solid 2px;
    border-color: #737667 white white #737667;
    margin: 15px;
    line-height: 0;
    font-size: 0;
}

.slot {
    display: inline-block;
    background: url("cards/board-bg.gif") no-repeat center center;
    width: 86px;
    height: 121px;
    margin: 8px;
}

.card {
    width: 86px;
    height: 120px;
    background-color: white;
    border-radius: 8px;
    border: 6px solid #9C9C9C;
/*    box-shadow: 3px 3px 8px 2px #A7A5A6;*/
    box-shadow: 3px 3px 5px 0 #777;
    position: absolute;
    transition-property: top, left;
    transition-duration: 0.3s;
}

#slot_0, #slot_3, #slot_6, #slot_9, #slot_12 {
    top: 10px;
}
#slot_1, #slot_4, #slot_7, #slot_10, #slot_13 {
    top: 144px;
}
#slot_2, #slot_5, #slot_8, #slot_11, #slot_14 {
    top: 278px;
}
#slot_0, #slot_1, #slot_2 {
    left: 10px;
}
#slot_3, #slot_4, #slot_5 {
    left: 108px;
}
#slot_6, #slot_7, #slot_8 {
    left: 206px;
}
#slot_9, #slot_10, #slot_11 {
    left: 304px;
}
#slot_12, #slot_13, #slot_14 {
    left: 402px;
}

#board.select .card:hover {
    background-color: gold;
    outline: none;
}
.card.selected {
    border-color: crimson;
}
.card.blink {
    animation-name: card-blinker;
    animation-duration: 0.4s;
    animation-iteration-count: 3;
}
@keyframes card-blinker {
    0% {
        border-color: #9C9C9C;
    }
    50% {
        border-color: crimson;
    }
    100% {
        border-color: #9C9C9C;
    }
}
.card.highlight {
    animation-name: card-highlight;
    animation-duration: 0.6s;
}
@keyframes card-highlight {
    0% {
        border-color: crimson;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        border-color: crimson;
    }
    100% {
        border-color: #9C9C9C;
    }
}
.symbol {
    position: absolute;
    width: 100%;
    top: 50%;
    background: url("cards/symbol000.gif") top center repeat-y;
}
.symbol.number1 {
    margin-top: -17px;
    height: 34px;
}
.symbol.number2 {
    margin-top: -34px;
    height: 68px;
}
.symbol.number3 {
    margin-top: -51px;
    height: 103px;
}
.symbol.fill1.shape1.color1 {
    background-image: url("cards/symbol000.gif");
}
.symbol.fill1.shape1.color2 {
    background-image: url("cards/symbol001.gif");
}
.symbol.fill1.shape1.color3 {
    background-image: url("cards/symbol002.gif");
}
.symbol.fill1.shape2.color1 {
    background-image: url("cards/symbol010.gif");
}
.symbol.fill1.shape2.color2 {
    background-image: url("cards/symbol011.gif");
}
.symbol.fill1.shape2.color3 {
    background-image: url("cards/symbol012.gif");
}
.symbol.fill1.shape3.color1 {
    background-image: url("cards/symbol020.gif");
}
.symbol.fill1.shape3.color2 {
    background-image: url("cards/symbol021.gif");
}
.symbol.fill1.shape3.color3 {
    background-image: url("cards/symbol022.gif");
}

.symbol.fill2.shape1.color1 {
    background-image: url("cards/symbol100.gif");
}
.symbol.fill2.shape1.color2 {
    background-image: url("cards/symbol101.gif");
}
.symbol.fill2.shape1.color3 {
    background-image: url("cards/symbol102.gif");
}
.symbol.fill2.shape2.color1 {
    background-image: url("cards/symbol110.gif");
}
.symbol.fill2.shape2.color2 {
    background-image: url("cards/symbol111.gif");
}
.symbol.fill2.shape2.color3 {
    background-image: url("cards/symbol112.gif");
}
.symbol.fill2.shape3.color1 {
    background-image: url("cards/symbol120.gif");
}
.symbol.fill2.shape3.color2 {
    background-image: url("cards/symbol121.gif");
}
.symbol.fill2.shape3.color3 {
    background-image: url("cards/symbol122.gif");
}


.symbol.fill3.shape1.color1 {
    background-image: url("cards/symbol200.gif");
}
.symbol.fill3.shape1.color2 {
    background-image: url("cards/symbol201.gif");
}
.symbol.fill3.shape1.color3 {
    background-image: url("cards/symbol202.gif");
}
.symbol.fill3.shape2.color1 {
    background-image: url("cards/symbol210.gif");
}
.symbol.fill3.shape2.color2 {
    background-image: url("cards/symbol211.gif");
}
.symbol.fill3.shape2.color3 {
    background-image: url("cards/symbol212.gif");
}
.symbol.fill3.shape3.color1 {
    background-image: url("cards/symbol220.gif");
}
.symbol.fill3.shape3.color2 {
    background-image: url("cards/symbol221.gif");
}
.symbol.fill3.shape3.color3 {
    background-image: url("cards/symbol222.gif");
}
