/* ============================================================================ */
/* === Game screen
/* ============================================================================ */
#game .container.page-body {
    position: relative;
    width: 750px;
    z-index: 0;
}
#messages {
    margin: 20px 0 10px 0;
    height: 30px;
    line-height: 28px;
    background-color: #d6debd;
    border-radius: 15px;
    border: solid 2px;
    border-color: #737667 white white #737667;
    font-size: 20px;
    padding: 0 10px;
    color: #737667;
    position: relative;
}

#controls {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 513px;
    font-size: 12px;
    padding: 15px;
}
#action {
    float: left;
    display: block;
    height: 100px;
    width: 100px;
    position: relative;

    outline: none;
    text-decoration: none;

    color: #999;
    /*text-shadow: 0 1px 3px white, 0 -1px 3px #aaa;*/
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    font-weight: 900;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
#action:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
    z-index: -1;
}

#action:hover, #action:focus {
    color: #666666;
    background: #f5f5f5;
}

#action:active {
    color: #777;
}

#scores {
    margin-top: 110px;
    width: 100%;
}
#scores td {
    font-size: 14px;
    padding: 1px 5px;
}
#scores th {
    display: none;
}
#scores tr {
    transition-property: background-color;
    transition-duration: .3s;
}
#scores tr.waiting {
    background-color: rgba(220, 20, 60, 0.2);
}
#scores tr.selecting {
    background-color: rgba(255, 215, 0, 0.2);
}
#scores tr.selecting td.status {
    background: url("icons/hand.png") no-repeat center center;
}
#scores tr.winner td.status {
    background: url("icons/winner.png") no-repeat center center;
}
#scores tr.winner {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-weight: bold;
}
@-webkit-keyframes glow {
    from {
        color: crimson;
        background-color: transparent;
    }
    to {
        color: black;
        background-color: rgba(255, 215, 0, 0.2);
    }
}
#scores .status {
    padding: 0;
    width: 30px;
    min-width: 30px;
    text-align: center;
}
#scores .player {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 143px;
    max-width: 143px;
    min-width: 143px;
}
#scores .score {
    padding: 0;
    width: 30px;
    min-width: 30px;
    text-align: center;
}
.score.highlight {
    animation-name: score-highlight;
    animation-duration: 1.5s;
    font-weight: bold;
}
@keyframes score-highlight {
    0% {
        color: black;
    }
    100% {
        color: black;
    }
}

#scores .rank {
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 12px;
}
#deck {
    background: url("cards/deck.png") no-repeat;
    width: 60px;
    height: 84px;
    font-size: 30px;
    line-height: 84px;
    text-align: center;
    color: #666666;
    float: right;
    margin: 8px 15px 0 0;
    text-shadow: 1px 1px 2px #333333;
}

#timer {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 10px;
    color: crimson;
    font-weight: bold;
}

#board {
    position: relative;
    display: inline-block;
    width: 498px;
    height: 406px;
    background: url("cards/board-bg.gif") 4px 3px;
    line-height: 0;
    font-size: 0;
    margin-bottom: 15px;
}

.miniboard {
    position: relative;
    width: 308px;
    height: 144px;
    background-color: #d6debd;
    border-radius: 15px;
    border: solid 2px;
    border-color: #737667 white white #737667;
    margin: 15px;
    line-height: 0;
    font-size: 0;
}

.slot {
    display: inline-block;
    background: url("cards/board-bg.gif") no-repeat center center;
    width: 86px;
    height: 121px;
    margin: 8px;
}

.card {
    width: 86px;
    height: 120px;
    background-color: white;
    border-radius: 8px;
    border: 6px solid #9C9C9C;
/*    box-shadow: 3px 3px 8px 2px #A7A5A6;*/
    box-shadow: 3px 3px 5px 0 #777;
    position: absolute;
    transition-property: top, left;
    transition-duration: 0.3s;
}

#slot_0, #slot_3, #slot_6, #slot_9, #slot_12 {
    top: 10px;
}
#slot_1, #slot_4, #slot_7, #slot_10, #slot_13 {
    top: 144px;
}
#slot_2, #slot_5, #slot_8, #slot_11, #slot_14 {
    top: 278px;
}
#slot_0, #slot_1, #slot_2 {
    left: 10px;
}
#slot_3, #slot_4, #slot_5 {
    left: 108px;
}
#slot_6, #slot_7, #slot_8 {
    left: 206px;
}
#slot_9, #slot_10, #slot_11 {
    left: 304px;
}
#slot_12, #slot_13, #slot_14 {
    left: 402px;
}

#board.select .card:hover {
    background-color: gold;
    outline: none;
}
.card.selected {
    border-color: crimson;
}
.card.blink {
    animation-name: card-blinker;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}
@keyframes card-blinker {
    0% {
        border-color: #9C9C9C;
    }
    50% {
        border-color: crimson;
    }
    100% {
        border-color: #9C9C9C;
    }
}
.card.highlight {
    animation-name: card-highlight;
    animation-duration: 0.6s;
}
@keyframes card-highlight {
    0% {
        border-color: crimson;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        border-color: crimson;
    }
    100% {
        border-color: #9C9C9C;
    }
}
.symbol {
    position: absolute;
    width: 63px;
    left: 5px;
    top: 50%;
    background: url("cards/symbols.png") top center repeat-y;
}
.symbol.number1 {
    margin-top: -17px;
    height: 34px;
}
.symbol.number2 {
    margin-top: -34px;
    height: 68px;
}
.symbol.number3 {
    margin-top: -51px;
    height: 103px;
}
.symbol.fill1.shape1.color1 {
    background-position-x: 0;
}
.symbol.fill1.shape1.color2 {
    background-position-x: -63px;
}
.symbol.fill1.shape1.color3 {
    background-position-x: -126px;
}
.symbol.fill1.shape2.color1 {
    background-position-x: -189px;
}
.symbol.fill1.shape2.color2 {
    background-position-x: -252px;
}
.symbol.fill1.shape2.color3 {
    background-position-x: -315px;
}
.symbol.fill1.shape3.color1 {
    background-position-x: -378px;
}
.symbol.fill1.shape3.color2 {
    background-position-x: -441px;
}
.symbol.fill1.shape3.color3 {
    background-position-x: -504px;
}

.symbol.fill2.shape1.color1 {
    background-position-x: -567px;
}
.symbol.fill2.shape1.color2 {
    background-position-x: -630px;
}
.symbol.fill2.shape1.color3 {
    background-position-x: -693px;
}
.symbol.fill2.shape2.color1 {
    background-position-x: -756px;
}
.symbol.fill2.shape2.color2 {
    background-position-x: -819px;
}
.symbol.fill2.shape2.color3 {
    background-position-x: -882px;
}
.symbol.fill2.shape3.color1 {
    background-position-x: -945px;
}
.symbol.fill2.shape3.color2 {
    background-position-x: -1008px;
}
.symbol.fill2.shape3.color3 {
    background-position-x: -1071px;
}


.symbol.fill3.shape1.color1 {
    background-position-x: -1134px;
}
.symbol.fill3.shape1.color2 {
    background-position-x: -1197px;
}
.symbol.fill3.shape1.color3 {
    background-position-x: -1260px;
}
.symbol.fill3.shape2.color1 {
    background-position-x: -1323px;
}
.symbol.fill3.shape2.color2 {
    background-position-x: -1386px;
}
.symbol.fill3.shape2.color3 {
    background-position-x: -1449px;
}
.symbol.fill3.shape3.color1 {
    background-position-x: -1512px;
}
.symbol.fill3.shape3.color2 {
    background-position-x: -1575px;
}
.symbol.fill3.shape3.color3 {
    background-position-x: -1638px;
}
